pre {
  background-color: #353232;
}

code {
  color: #61a9dd;
}

/* KeyWordTok */
.sourceCode .kw {
  color: #bb70e4;
}
/* DataTypeTok */
.sourceCode .dt {
  color: #3897db;
}

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv,
.sourceCode .bn,
.sourceCode .fl {
  color: #ae81ff;
}
/* CharTok */
.sourceCode .ch {
  color: #37ad2d;
}
/* StringTok */
.sourceCode .st {
  color: #37ad2d;
}
/* CommentTok */
.sourceCode .co {
  color: #7e8e91;
}
/* OtherTok */
.sourceCode .ot {
  color: #eb005b;
}
/* AlertTok */
.sourceCode .al {
  color: #a6e22e;
  font-weight: bold;
}
/* FunctionTok */
.sourceCode .fu {
  color: rgb(139, 121, 121);
}
/* RegionMarkerTok */
.sourceCode .re {
}
/* ErrorTok */
.sourceCode .er {
  color: #e6db74;
  font-weight: bold;
}
