---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="site-header">
  <nav>
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/feed.xml">RSS</a>
    <a href="https://github.com/aniravi24" rel="me">Github</a>
  </nav>
  <span class="spacer"></span>
  <ThemeToggle />
</header>
