name: CI

on:
  pull_request:
    branches: ["*"]

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node 18
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install deps
        run: pnpm install

      - name: Generate blog
        run: pnpm build
